################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/output
/MyStudy/.vs/MyStudy/v15
/MyStudy/SocketClient/x64/Debug
/MyStudy/.vs
/FBXSDK
/MaxSDK
/data/bitmap
/data/db
/data/map
/data/object/Textures
/data/object/Turret_Deploy1
/data/object
/data/sky
/data/sound
/data/main_start_nor.png
/data/heightMap513.bmp
/data/ch65.bmp
/data/castle_height.bmp
/data/castle.jpg
/data/129.jpg
