################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/output
/MyStudy/.vs/MyStudy/v15
/MyStudy/SocketClient/x64/Debug
/MyStudy/.vs
